<h1>Welcome to the Rails Store</h1>
<%= button_to "View all Products", "/products", method: :get,  class: "btn btn-primary btn-lg" %>
<%= button_to "View all Categories", "/categories", method: :get, class: "btn btn-primary btn-lg" %>